<app-menu>
    <ng-container drawer-content>
        <section style="padding: 2%">
            <div class="container mat-elevation-z8">
                <div class="row">
                    <mat-toolbar color="primary">
                        <span>Lista de Reservas</span>
                    </mat-toolbar>
                </div>

                <div class="row pt-8">
                    <mat-form-field class="col-md-4">
                        <mat-label>Filtro</mat-label>
                        <input matInput [(ngModel)]="filter" (keyup)="applyFilter()" #input>
                    </mat-form-field>

                    <!-- <button mat-raised-button color="primary" type="button" (click)="openSaveDialog(newDriver)"
                        class='btn btn-primary btn-sm w-40 ml-4'>Registrar</button> -->
                </div>

                <div class="row pt-8">
                    <mat-table [dataSource]="dataSource" matSort>
                        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

                        <ng-container matColumnDef="idBooking">
                            <mat-header-cell *matHeaderCellDef mat-sort-header class="justify-center">Nº
                                Reserva</mat-header-cell>
                            <mat-cell class="justify-center" *matCellDef="let item">{{ item.idBooking }}</mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="date">
                            <mat-header-cell *matHeaderCellDef mat-sort-header
                                class="justify-center">Fecha</mat-header-cell>
                            <mat-cell class="justify-center" *matCellDef="let item">{{ item.date }}</mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="time">
                            <mat-header-cell *matHeaderCellDef mat-sort-header
                                class="justify-center">Hora</mat-header-cell>
                            <mat-cell class="justify-center" *matCellDef="let item">{{ item.time }}</mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="company">
                            <mat-header-cell *matHeaderCellDef mat-sort-header
                                class="justify-center">Cliente</mat-header-cell>
                            <mat-cell class="justify-center" *matCellDef="let item">{{ item.company }}</mat-cell>
                        </ng-container>

                        <!-- <ng-container matColumnDef="applicant">
                            <mat-header-cell *matHeaderCellDef mat-sort-header
                                class="justify-center">Solicitante</mat-header-cell>
                            <mat-cell class="justify-center" *matCellDef="let item">{{ item.applicant }}</mat-cell>
                        </ng-container> -->

                        <ng-container matColumnDef="area">
                            <mat-header-cell *matHeaderCellDef mat-sort-header
                                class="justify-center">Área</mat-header-cell>
                            <mat-cell class="justify-center" *matCellDef="let item">{{ item.area }}</mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="passenger">
                            <mat-header-cell *matHeaderCellDef mat-sort-header
                                class="justify-center">Pasajero</mat-header-cell>
                            <mat-cell class="justify-center" *matCellDef="let item">{{ item.passenger }}</mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="pickUp">
                            <mat-header-cell *matHeaderCellDef mat-sort-header
                                class="justify-center">Origen</mat-header-cell>
                            <mat-cell class="justify-center" *matCellDef="let item">{{ item.ubigeoPickUp }}</mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="destination">
                            <mat-header-cell *matHeaderCellDef mat-sort-header
                                class="justify-center">Destino</mat-header-cell>
                            <mat-cell class="justify-center" *matCellDef="let item">{{ item.ubigeoDestination
                                }}</mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="price">
                            <mat-header-cell *matHeaderCellDef mat-sort-header
                                class="justify-center">Tarifa</mat-header-cell>
                            <mat-cell class="justify-center" *matCellDef="let item">{{ item.currency + ' ' +
                                item.price }}</mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="driver">
                            <mat-header-cell *matHeaderCellDef mat-sort-header
                                class="justify-center">Conductor</mat-header-cell>
                            <mat-cell class="justify-center" *matCellDef="let item">{{ item.driver }}</mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="status">
                            <mat-header-cell *matHeaderCellDef mat-sort-header
                                class="justify-center">Estado</mat-header-cell>
                            <mat-cell class="justify-center" *matCellDef="let item">{{ item.status }}</mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="actions">
                            <mat-header-cell *matHeaderCellDef class="justify-center">&nbsp;</mat-header-cell>

                            <mat-cell *matCellDef="let item;" class="">
                                <!-- <div class="form-check form-switch">
                                                    <input type="checkbox" class="form-check-input" role="switch"
                                                        id="idEstado_{{ item.idRevista }}" [checked]="item.estado == 1 ? true : false"
                                                        (change)="updateState(item)" />
                                                    <label class="custom-control-label" for="idEstado_{{ item.idRevista }}"></label>
                                                </div> -->

                                <button mat-icon-button color="accent" *ngIf="item.status == 'Reserva'"
                                    (click)="openDriverDialog(item)">
                                    <mat-icon aria-label="Asignar conductor">hail</mat-icon>
                                </button>

                                <button mat-icon-button color="accent" *ngIf="item.status == 'Pendiente'"
                                    (click)="setBookingStatusToProceso(item)">
                                    <mat-icon
                                        aria-label="Cambiar estado a: Reserva en Proceso">airport_shuttle</mat-icon>
                                </button>

                                <button mat-icon-button color="accent" *ngIf="item.status == 'En Proceso'"
                                    (click)="setBookingStatusToFinalizado(item)">
                                    <mat-icon aria-label="Cambiar estado a: Reserva Finalizada">no_crash</mat-icon>
                                </button>

                                <button mat-icon-button color="accent" (click)="openBookingDetailsDialog(item)">
                                    <mat-icon aria-label="Detalles de Reserva">assignment</mat-icon>
                                </button>
                            </mat-cell>
                        </ng-container>

                        <!-- Row shown when there is no matching data. -->
                        <tr class="mat-row" *matNoDataRow>
                            <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
                        </tr>
                    </mat-table>

                    <mat-paginator [pageSizeOptions]="[10, 25, 50]" showFirstLastButtons="true"></mat-paginator>
                </div>
            </div>
        </section>
    </ng-container>
</app-menu>