<div class="container">
    <div class="row">
        <mat-toolbar color="primary">
            <span>Busca Conductor</span>
            <span class="flex-auto"></span>
            <button mat-icon-button color="red" (click)="closeDialog()">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar>
    </div>
    <div class="row" class="pt-8">
        <mat-form-field class="col-md-4">
            <mat-label>Filtro</mat-label>
            <input matInput [(ngModel)]="filter" (keyup)="applyFilter($event)" #input>
        </mat-form-field>
    </div>

    <div class="row" class=" pt-8">
        <mat-table [dataSource]="dataSource" matSort>
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

            <ng-container matColumnDef="names">
                <mat-header-cell *matHeaderCellDef mat-sort-header class="justify-center">Nombres</mat-header-cell>
                <mat-cell class="justify-center" *matCellDef="let item"> {{item.names}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="lastNames">
                <mat-header-cell *matHeaderCellDef mat-sort-header class="justify-center">Apellidos</mat-header-cell>
                <mat-cell class="justify-center" *matCellDef="let item"> {{item.lastNames}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="idNumber">
                <mat-header-cell *matHeaderCellDef mat-sort-header class="justify-center">DNI</mat-header-cell>
                <mat-cell class="justify-center" *matCellDef="let item"> {{item.idNumber}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="phone">
                <mat-header-cell *matHeaderCellDef mat-sort-header class="justify-center">Teléfono</mat-header-cell>
                <mat-cell class="justify-center" *matCellDef="let item"> {{item.phone}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="brand">
                <mat-header-cell *matHeaderCellDef mat-sort-header class="justify-center">Vehículo</mat-header-cell>
                <mat-cell class="justify-center" *matCellDef="let item"> {{item.brand}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="model">
                <mat-header-cell *matHeaderCellDef mat-sort-header class="justify-center">Modelo</mat-header-cell>
                <mat-cell class="justify-center" *matCellDef="let item"> {{item.model}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="carPlate">
                <mat-header-cell *matHeaderCellDef mat-sort-header class="justify-center">Placa</mat-header-cell>
                <mat-cell class="justify-center" *matCellDef="let item"> {{item.carPlate}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="year">
                <mat-header-cell *matHeaderCellDef mat-sort-header class="justify-center">Año</mat-header-cell>
                <mat-cell class="justify-center" *matCellDef="let item"> {{item.year}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="color">
                <mat-header-cell *matHeaderCellDef mat-sort-header class="justify-center">Color</mat-header-cell>
                <mat-cell class="justify-center" *matCellDef="let item"> {{item.color}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="actions">
                <mat-header-cell *matHeaderCellDef class="justify-center">&nbsp;</mat-header-cell>

                <mat-cell *matCellDef="let item;">
                    <button mat-icon-button color="accent" (click)="selectDriver(item)">
                        <mat-icon aria-label="check_circle" color="primary">check_circle</mat-icon>
                    </button>
                </mat-cell>
            </ng-container>

            <!-- Row shown when there is no matching data. -->
            <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
            </tr>
        </mat-table>

        <mat-paginator [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons="true"></mat-paginator>
    </div>
</div>